<h2>Actions</h2>

<button (click)="onToggleSpinner()">Toggle Spinner</button>
<button (click)="onError()">Error</button>
<button (click)="onSuccess()">Success</button>

<h2>Form</h2>
<div class="wrapper">
  <app-spinner *ngIf="showSpinner"></app-spinner>
  <form [formGroup]="form" novalidate autocomplete="off">
    <button (click)="onPatchValue()">Patch Value</button>
    <button (click)="onToggleInline()">Toggle Inline</button>

    <br /><br /><br />

    <app-form-field
      label="Input"
      label="Input"
      [required]="true"
      [control]="form.controls.input"
      [isInline]="isInline"
      [patternError]="regexErrors.email"
    >
      <app-input formControlName="input"></app-input>
    </app-form-field>

    <app-form-field
      label="Password"
      [required]="true"
      [control]="form.controls.password"
      [isInline]="isInline"
    >
      <app-password formControlName="password"></app-password>
    </app-form-field>
  </form>
  <code>
    {{ form.value | json }}
  </code>
</div>
