<div class="content">
  <h1 *ngIf="!exerciseMode">My Vocabulary</h1>
  <h1 *ngIf="exerciseMode">Choose Group To Practice</h1>
  <div class="container">
    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let group of groups$ | async; let i = index"
        class="mat-elevation-z6"
        (focusin)="newGroupMode = false"
        [expanded]="preventCollapse(group.id)"
      >
        <mat-expansion-panel-header *ngIf="!exerciseMode || true">
          <div class="flex-title" (click)="changePanReset()">
            <span *ngIf="!hideOnGroupEdit(group.id)">
              {{ group.name | titlecase }}
              <i
                class="far fa-edit"
                *ngIf="showOnEdit(group.id)"
                (click)="onEditGroupName()"
                appStopPropagation
              ></i>
            </span>
            <app-group-form
              *ngIf="showOnEdit(group.id) && groupEdit"
              [group]="group"
              (onFinishSubmit)="groupEdit = false"
            ></app-group-form>
            <div class="bars-wrap">
              <app-rating-ui
                *ngIf="true"
                uiType="bars"
                [score]="group.averageProficiency"
              ></app-rating-ui>
            </div>
          </div>
        </mat-expansion-panel-header>
        <app-word-grid
          [groupId]="group.id"
          [groupEditId]="groupEditId"
          [editMode]="editMode"
          [newWordMode]="newWordMode"
        ></app-word-grid>
        <mat-action-row>
          <button
            *ngIf="conditionalForSeeAll(group.id) && editMode === false"
            mat-button
            color="warn"
            class="dlt-btn"
            (click)="openAllTranslations(group.id)"
          >
            See All
          </button>
          <button
            *ngIf="
              !conditionalForSeeAll(group.id) &&
              editMode === false &&
              areThereAddTr(group.id)
            "
            mat-button
            color="warn"
            class="dlt-btn"
            (click)="closeAllTranslations()"
          >
            Collapse All
          </button>
          <button
            *ngIf="!exerciseMode"
            mat-button
            class="edit-btn"
            (click)="onEditMode(group.id)"
          >
            {{
              editMode === true && groupEditId === group.id ? "Save" : "Edit"
            }}
          </button>
          <button
            *ngIf="!exerciseMode"
            mat-button
            color="warn"
            class="dlt-btn"
            (click)="onDeleteGroup(group.name, group.id)"
          >
            DELETE
          </button>
          <button
            *ngIf="exerciseMode && exerciseType === 'spelling'"
            mat-button
            class="practice-btn"
            [routerLink]="['/exercises/spelling', 'word-group', group.id]"
            routerLinkActive="mat-accent"
          >
            Practice
          </button>
          <button
            *ngIf="exerciseMode && exerciseType === 'quiz'"
            mat-button
            class="practice-btn"
            [routerLink]="['/exercises/quiz', 'word-group', group.id]"
            routerLinkActive="mat-accent"
          >
            Practice
          </button>
        </mat-action-row>
      </mat-expansion-panel>
      <div
        class="add-group-div"
        *ngIf="!exerciseMode"
        [ngStyle]="{
          transition:
            'background-color ' + (groups.length / 8 + 0.2) + 's ease-in-out'
        }"
      >
        <button
          *ngIf="newGroupMode === false"
          class="btn btn-add-group"
          mat-button
          (click)="newGroupMode = true"
          appStopPropagation
        >
          Create New Group <mat-icon>add_box</mat-icon>
        </button>
        <app-group-form
          class="input-add-group"
          *ngIf="newGroupMode === true"
          (onFinishSubmit)="newGroupMode = false"
        ></app-group-form>
      </div>
    </mat-accordion>
  </div>
</div>
