<div class="grid-container" *ngIf="currentWord$ | async as word">
  <app-progress-bar></app-progress-bar>
  <app-progress-bar [progress]="progress$ | async"></app-progress-bar>
  <mat-card class="mat-elevation-z24">
    <mat-card-title *ngIf="(testingAgainst$ | async) === 'translation'">{{
      word.original | titlecase
    }}</mat-card-title>

    <mat-card-title *ngIf="(testingAgainst$ | async) === 'original'">{{
      word.translation | titlecase
    }}</mat-card-title>

    <mat-card-subtitle
      ><i class="far fa-question-circle" *ngIf="word?.tips"></i>
      <div class="tooltip">
        {{ word.tips | titlecase }}
      </div></mat-card-subtitle
    >
    <mat-card-content>
      <mat-form-field>
        <input
          maxlength="23"
          type="text"
          matInput
          class="res-input"
          autocomplete="off"
          [(ngModel)]="inputValue"
          #wordInput
          [disabled]="(submitButtonAction$ | async) === 'next'"
          [style.color]="
            (submitButtonAction$ | async) === 'next' &&
            (isLastAnswerCorrect$ | async)
              ? 'var(--answer-correct)'
              : (submitButtonAction$ | async) === 'next' &&
                !(isLastAnswerCorrect$ | async)
              ? 'var(--answer-wrong)'
              : 'var(--text-primary)'
          "
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions
      ><button
        class="sbm-btn"
        mat-button
        color="primary"
        (click)="onSubmit(word)"
      >
        {{
          (submitButtonAction$ | async) === "proofread"
            ? "Check"
            : (submitButtonAction$ | async) === "next"
            ? "Next"
            : ""
        }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
