<div class="grid-container" *ngIf="currentWord$ | async as word">
  <app-progress-bar></app-progress-bar>
  <mat-card class="mat-elevation-z24">
    <mat-card-title *ngIf="translateDirection$ | async">{{
      word.name | titlecase
    }}</mat-card-title>

    <mat-card-title *ngIf="!translateDirection$ | async">{{
      word.translation | titlecase
    }}</mat-card-title>

    <mat-card-subtitle
      ><i class="far fa-question-circle" *ngIf="word?.tips"></i>
      <div class="tooltip">
        {{ word.tips | titlecase }}
      </div></mat-card-subtitle
    >
    <mat-card-content>
      <mat-form-field>
        <input
          maxlength="23"
          type="text"
          matInput
          class="res-input"
          autocomplete="off"
          [(ngModel)]="inputValue"
          #wordInput
          (keyup.enter)="onSend()"
        />
        <input
          type="text"
          class="grayCardinal"
          #grayCardinal
          (keyup.enter)="onSend()"
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions
      ><button class="sbm-btn" mat-button color="primary" (click)="onSend()">
        <!-- {{
          pendingFstSub
            ? "Submit"
            : !pendingFstSub && activeWordIndex === words.length - 1
            ? "Finish"
            : !pendingFstSub
            ? "Next"
            : ""
        }} -->
      </button>
    </mat-card-actions>
  </mat-card>
</div>
