.content {
  margin-top: 1rem;
}



.subButton {
  position: relative;
  border: none;
  background-color: white;
  margin-left: 0.5rem;

  .fa-check-square {
    text-shadow: var(--text-sh);

    position: absolute;
    font-size: 1.7rem;
    color: var(--bg-btn-primary);
    cursor: pointer;
    bottom: -0.5rem;

    &:hover {
      color: var(--btn-hover);
    }
  }
}
