.content {
  min-height: 100%;
  min-width: 100%;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  grid-template-rows: auto;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.word-field {
  width: 48%;
}

.translation-field {
  width: 48%;
}

.tips-field {
  width: 100%;
}

.additionalTr-field {
  max-width: 90%;
}

mat-form-field {
  width: 100%;
}


.translateBtn {
  position: relative;
  border: none;
  background-color: white;
  grid-area: trBtn;
  align-self: start;
  justify-self: start;
  margin-top: 1rem;

  .fa-language {
    text-shadow: var(--text-sh);
    position: absolute;
    font-size: 1.6rem;
    color: rgb(144, 144, 144);
    inset: 0;
    color: var(--bg-btn-primary);
    cursor: pointer;

    &:hover {
      color: var(--btn-hover);
    }
  }
}


.btn-submit {
  border: none;
  margin-top: 0.5rem;
  // margin-left: 0.2rem;
  background-color: rgba(255, 255, 255, 0);
  height: min-content;

  .fa-check-square {
    text-shadow: var(--text-sh);
    font-size: 2rem;
    color: var(--bg-btn-primary);
    cursor: pointer;

    &:hover {
      color: var(--btn-hover);
    }
  }
}

.btn-close {
  position: absolute;
  top: 0;
  right: 2px;
  background-color: rgba(255, 255, 255, 0);
  height: min-content;
  border: none;


  .fa-times {
    text-shadow: var(--text-sh);
    font-size: 1.2rem;
    color: var(--bg-btn-primary);
    cursor: pointer;

    &:hover {
      color: var(--btn-hover);
    }
  }
}
