<div class="content">
  <h1>My Vocabulary</h1>
  <div class="container">
    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let group of groupsAndWords$ | async"
        class="mat-elevation-z6"
        [expanded]="isEditingGroupWithId$(group.id) | async"
      >
        <mat-expansion-panel-header>
          <div class="flex-title">
            <span>
              {{ group.name | titlecase }}
              <i
                class="far fa-edit"
                *ngIf="isEditingGroupWithId$(group.id) | async"
                appStopPropagation
              ></i>
            </span>
            <!-- <app-group-form ></app-group-form> -->
            <div class="bars-wrap">
              <app-rating-ui
                uiType="bars"
                [score]="group.averageProficiency"
              ></app-rating-ui>
            </div>
          </div>
        </mat-expansion-panel-header>
        <app-word-grid
          [wordGridInput]="{
              groupId: group.id,
              words: store.select(group.selectWords) | async,
            }"
        ></app-word-grid>
        <mat-action-row>
          <app-group-action-panel
            [groupActionPanelInput]="
              selectGroupActionPanelVM$(group.id) | async
            "
            (buttonPressed)="groupAction($event)"
          ></app-group-action-panel>
        </mat-action-row>
      </mat-expansion-panel>
      <div class="add-group-div">
        <button class="btn btn-add-group" mat-button appStopPropagation>
          Create New Group <mat-icon>add_box</mat-icon>
        </button>
        <!-- <app-group-form ></app-group-form> -->
      </div>
    </mat-accordion>
  </div>
</div>
