.content {
  display: grid;
  justify-items: center;

  h1 {
    color: var(--text-primary);
    font-family: var(--title-font);
    margin-bottom: 2rem;
    text-align: center;
  }

  .container {
    width: 88%;
    box-shadow: var(--tr-shadow-sm);
    border-radius: 5px;
    background-color: var(--tr-container-bg);
    transition: all 0.5s ease-in;
  }
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 5px 5px 5px !important;
}

mat-expansion-panel {
  background-color: var(--bg-tr);

  @for $i from 1 through 50 {
    &:nth-of-type(#{$i}) {
      // transition: all .2s ease-in-out, background-color $i/8+.2s cubic-bezier(1, -0.35, .57, 1.95);
      transition: all 0.2s ease-in-out, background-color $i/8 + 0.2s ease-in-out;
    }
  }

  mat-expansion-panel-header {
    display: flex;
    color: var(--text-primary);
    text-shadow: var(--text-sh);
  }
}

.far {
  font-size: 1rem;
  margin-right: 0.3rem;
  cursor: pointer;
  color: var(--circle-tips);
}

.fa-trash-alt {
  color: var(--text-warning);
}

.far:hover {
  color: var(--hover-tips);
}

// Score UI config
.flex-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.bars-wrap {
  margin-right: 1rem;
}

.dlt-btn,
.edit-btn {
  color: white;
  font-family: var(--btn-font);
  border: var(--btn-secondary-border);

  &:hover {
    background-color: var(--btn-secondary-hover);
  }
}

.practice-btn {
  color: var(--text-primary);
  font-size: 1.4rem;
  border: var(--btn-secondary-border);
  margin-right: 1rem;
  font-family: var(--btn-font);

  &:hover {
    background-color: var(--btn-secondary-hover);
  }
}

.add-group-div {
  display: grid;
  place-items: center;
  background-color: var(--bg-tr);
  transition: all 0.2s ease-in;
  border-radius: 0 0 5px 5px;

  .btn-add-group {
    padding: 0.3rem 0;
    width: 100%;
    color: var(--text-primary);
    background-color: rgba(0, 0, 0, 0.2);
    // background-color: ;
    border-radius: 0 0 5px 5px;

    font-family: var(--btn-font);

    &:hover {
      background-color: rgba(255, 255, 255, 0.03);
    }
  }

  .input-add-group {
    justify-self: start;
    padding-left: 2rem;
  }
}

@media (min-width: 768px) {
  ::ng-deep .mat-expansion-panel-body {
    padding: 0 24px 16px 24px !important;
  }

  .content {
    h1 {
      margin-top: 1.2rem;
    }

    .container {
      width: 80%;
      box-shadow: var(--tr-shadow-xl);
    }
  }
}

.new-group-pan {
  color: var(--text-primary);
  text-shadow: var(--text-sh);
  background-color: var(--bg-tr);
}
