<div class="content">
  <h1 *ngIf="!exerciseMode">My Vocabulary</h1>
  <h1 *ngIf="exerciseMode">Choose Group To Practice</h1>
  <div class="container">
    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let groupsAndWords of groupsAndWords$ | async; let i = index"
        class="mat-elevation-z6"
        (focusin)="newGroupMode = false"
        [expanded]="preventCollapse(groupsAndWords.group.id)"
      >
        <mat-expansion-panel-header *ngIf="!exerciseMode || true">
          <div class="flex-title" (click)="changePanReset()">
            <span *ngIf="!hideOnGroupEdit(groupsAndWords.group.id)">
              {{ groupsAndWords.group.name | titlecase }}
              <i
                class="far fa-edit"
                *ngIf="showOnEdit(groupsAndWords.group.id)"
                (click)="onEditGroupName()"
                appStopPropagation
              ></i>
            </span>
            <app-group-form
              *ngIf="showOnEdit(groupsAndWords.group.id) && groupEdit"
              [group]="groupsAndWords.group"
              (onFinishSubmit)="groupEdit = false"
            ></app-group-form>
            <div class="bars-wrap">
              <app-rating-ui
                *ngIf="true"
                uiType="bars"
                [score]="groupsAndWords.group.averageProficiency"
              ></app-rating-ui>
            </div>
          </div>
        </mat-expansion-panel-header>
        <app-word-grid
          [groupId]="groupsAndWords.group.id"
          [groupEditId]="groupEditId"
          [editMode]="editMode"
          [newWordMode]="newWordMode"
          [words]="groupsAndWords.words$ | async"
        ></app-word-grid>
        <mat-action-row>
          <app-group-action-panel></app-group-action-panel>
        </mat-action-row>
      </mat-expansion-panel>
      <div class="add-group-div" *ngIf="!exerciseMode">
        <button
          *ngIf="newGroupMode === false"
          class="btn btn-add-group"
          mat-button
          (click)="newGroupMode = true"
          appStopPropagation
        >
          Create New Group <mat-icon>add_box</mat-icon>
        </button>
        <app-group-form
          class="input-add-group"
          *ngIf="newGroupMode === true"
          (onFinishSubmit)="newGroupMode = false"
        ></app-group-form>
      </div>
    </mat-accordion>
  </div>
</div>
