<div class="content">
  <div class="container">
    <form [formGroup]="coreForm" (submit)="onSubmit()">
      <div class="grid-container">
        <app-form-field class="word-field">
          <app-input
            class="wordInput"
            formControlName="word"
            matInput
            placeholder="Word"
            maxlength="21"
          />
        </app-form-field>
        <app-form-field class="translation-field">
          <app-input
            class="translationInput"
            formControlName="translation"
            matInput
            placeholder="Translation"
            maxlength="21"
          />
        </app-form-field>
        <app-form-field class="tips-field" *ngIf="isTips">
          <app-input
            class="tipsInput"
            formControlName="tips"
            matInput
            placeholder="Tips"
            maxlength="40"
          />
        </app-form-field>

        <app-additional-translations
          [parent]="coreForm"
          name="additionalTranslations"
          [values]="storeFormObservable$ToBeCreated.additionalTranslations"
        ></app-additional-translations>
        <app-form-footer></app-form-footer>
      </div>
    </form>
  </div>
</div>
