<div class="content">
  <div class="container">
    <form [formGroup]="coreForm" (submit)="onSubmit()">
      <div class="grid-container">
        <app-form-field
          class="original-field"
          [control]="coreForm.controls.original"
        >
          <app-input
            class="wordInput"
            formControlName="original"
            matInput
            placeholder="Word"
            maxlength="21"
          />
        </app-form-field>

        <app-form-field
          class="translation-field"
          [control]="coreForm.controls.translation"
        >
          <app-input
            class="translationInput"
            formControlName="translation"
            matInput
            placeholder="Translation"
            maxlength="21"
          />
        </app-form-field>

        <app-form-field
          *ngIf="coreForm.controls.tips"
          class="tips-field"
          [control]="coreForm.controls.tips"
        >
          <app-input
            class="tipsInput"
            formControlName="tips"
            matInput
            placeholder="Tips"
            maxlength="40"
          />
        </app-form-field>
        <app-additional-translations
          [parent]="coreForm"
          name="additionalTranslations"
          [values]="word?.additionalTranslations"
        ></app-additional-translations>
        <app-form-footer [parent]="coreForm"></app-form-footer>
      </div>
    </form>
  </div>
</div>
<pre>{{ coreForm?.value | json }}</pre>
