<div class="content" appStopPropagation *ngrxLet="vm$ as vm">
  <mat-card>
    <div>
      <mat-slide-toggle (click)="onTogglePixie()" [ngModel]="vm.isPixies"
        ><span class="pixies-span">Pixies</span>
      </mat-slide-toggle>
    </div>
    <div>
      <button
        class="btn btn-lang"
        *ngIf="vm.testingAgainst === 'translation'"
        (click)="onChangeTestingAgainst()"
      >
        <span>A</span>
        <mat-icon>swap_horiz</mat-icon>
        <span>字</span>
      </button>
      <button
        class="btn btn-lang"
        *ngIf="vm.testingAgainst === 'original'"
        (click)="onChangeTestingAgainst()"
      >
        <span>字</span>
        <mat-icon>swap_horiz</mat-icon>
        <span>A</span>
      </button>
    </div>
    <div
      class="palette"
      [ngClass]="{ highlight: themeOpen }"
      (click)="onPalette()"
    >
      <mat-icon>palette</mat-icon>
    </div>
    <div
      class="lightbulb"
      [ngClass]="{ highlight: modeOpen }"
      (click)="onLightbulb()"
    >
      <mat-icon>lightbulb</mat-icon>
    </div>
    <div class="radio-flex" *ngIf="subDropOpen" @slideDown>
      <div class="dynamic-radio">
        <div class="theme-select" *ngIf="themeOpen">
          <mat-radio-group
            aria-label="Select an option"
            (change)="onThemeChange($event.value)"
          >
            <mat-radio-button
              *ngFor="let theme of vm.allThemeNames"
              [value]="theme"
              [checked]="theme === vm.activeThemeName ? true : false"
              >{{ theme | titlecase }}</mat-radio-button
            >
          </mat-radio-group>
        </div>

        <div class="mode-select" *ngIf="modeOpen">
          <mat-radio-group
            aria-label="Select an option"
            (change)="onModeChange($event.value)"
          >
            <mat-radio-button
              *ngFor="let mode of vm.allExerciseModes"
              [value]="mode"
              [checked]="mode === vm.exerciseMode ? true : false"
              >{{ mode | titlecase }}</mat-radio-button
            >
          </mat-radio-group>
        </div>
      </div>
    </div>
  </mat-card>
</div>
