<div class="grid-container">
  <div class="wordCardDiv" *ngFor="let word of words | async">
    <mat-card class="mat-elevation-z4">
      <span *ngIf="hideOnEditWord(word.id, groupId)">
        {{ word.name | titlecase }}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          stroke="#fff"
          stroke-linecap="round"
          stroke-linejoin="round"
          fill="none"
          fill-rule="evenodd"
        >
          <path d="M124.5 199.5H302" stroke-width="6" />
          <path d="M149.5 189.5h125m-125 20h125" stroke-width="3" />
          <path d="M3.75 46.5H96.5" stroke-width="6" />
          <path
            d="M16.8134 40.5h65.3169m-65.3169 12h65.3169"
            stroke-width="3"
          />
          <path d="M1.25 9.5h16.5" stroke-width="1.4" />
          <path d="M5.75 6.75h7.5m-7.5 5.5h7.5" />
        </svg>
        {{ word.translation | titlecase }}
      </span>
      <app-word-form
        *ngIf="showOnEditWord(word.id, groupId)"
        (onFinishSubmit)="wordEdit = false"
        [word]="word"
      ></app-word-form>
      <div class="spacer"></div>
      <app-word-ui
        [eye]="
          !translationArrOpen.includes(word.id) &&
          hideOnEdit(groupId) &&
          word.additionalTr.length > 0
        "
        [eyeSlash]="
          translationArrOpen.includes(word.id) &&
          hideOnEdit(groupId) &&
          word.additionalTr.length > 0
        "
        [questionCircle]="hideOnEdit(groupId) && word.tips"
        [edit]="showOnEdit(groupId) && hideOnEditWord(word.id, groupId)"
        [trash]="showOnEdit(groupId) && hideOnEditWord(word.id, groupId)"
        [word]="word"
        (iconPressed)="iconPressed($event)"
      ></app-word-ui>
    </mat-card>
    <div
      class="extraTranslations"
      *ngIf="translationArrOpen.includes(word.id)"
      @expandDown
    >
      <app-extra-tr-card [word]="word"></app-extra-tr-card>
    </div>
  </div>
  <div
    class="mat-elevation-z4 add-word-div"
    *ngIf="showOnEdit(groupId) && newWordMode === false"
    (click)="onAddNewWord()"
  >
    <button mat-button class="btn btn-new-word">
      Add New Word <mat-icon>add_box</mat-icon>
    </button>
  </div>
  <div class="wordCardDiv" *ngIf="showOnEdit(groupId) && newWordMode === true">
    <mat-card>
      <app-word-form
        [group]="group"
        (onFinishSubmit)="newWordMode = false"
      ></app-word-form>
    </mat-card>
  </div>
</div>
