<div class="grid-container">
  <div class="wordCardDiv" *ngFor="let word of wordGridInput.words">
    <ng-container *ngrxLet="state.isWordUnfolded$(word.id) as isUnfolded">
      <mat-card class="mat-elevation-z4">
        <span>
          <b>{{ word.name | titlecase }}</b> -
          {{ word.translation | titlecase }}
        </span>
        <app-word-ui
          [wordUiViewInput]="{
            eye: !isUnfolded,
            eyeSlash: isUnfolded,
            questionCircle: true,
            edit: true,
            trash: true,
            word: word
          }"
          (iconPressed)="iconPressed($event)"
        ></app-word-ui>
      </mat-card>
      <div class="extraTranslations" *ngIf="isUnfolded" @expandDown>
        <app-extra-tr-card [word]="word"></app-extra-tr-card>
      </div>
    </ng-container>
  </div>
  <div class="mat-elevation-z4 add-word-div" (click)="onAddNewWord()">
    <!-- *ngIf="showOnEdit(groupId) && newWordMode === false" -->
    <button mat-button class="btn btn-new-word">
      Add New Word <mat-icon>add_box</mat-icon>
    </button>
  </div>
  <!-- <div class="wordCardDiv" *ngIf="showOnEdit(groupId) && newWordMode === true">
    <mat-card>
      <app-word-form
        [group]="group"
      ></app-word-form>
    </mat-card>
  </div> -->
</div>
