<div class="grid-container">
  <div class="wordCardDiv" *ngFor="let word of wordGridInput.words">
    <ng-container
      *ngrxLet="{
        isUnfolded: stateFacade.isWordUnfolded$(word.id),
        isEditingGroup: stateFacade.isEditingGroupId$(wordGridInput.groupId),
        wordGridStateVM: wordGridStateVM$
      } as vm"
    >
      <ng-container [ngSwitch]="vm.wordGridStateVM.editingWordId">
        <mat-card *ngSwitchDefault class="mat-elevation-z4">
          <span>
            <b>{{ word.original | titlecase }}</b> -
            {{ word.translation | titlecase }}
          </span>
          <app-word-ui
            [wordUiViewInput]="{
            eye: !vm.isUnfolded && hasAddTranslations(word),
            eyeSlash: vm.isUnfolded && hasAddTranslations(word),
            editingMode: vm.isEditingGroup,
            word: word,
          }"
            (iconPressed)="wordAction($event)"
          ></app-word-ui>
        </mat-card>
        <mat-card *ngIf="word">
          <app-word-form *ngSwitchCase="word.id" [word]="word"></app-word-form>
        </mat-card>
      </ng-container>

      <div
        class="extraTranslations"
        *ngIf="vm.isUnfolded && hasAddTranslations(word)"
        @expandDown
      >
        <app-extra-tr-card [word]="word"></app-extra-tr-card>
      </div>
    </ng-container>
  </div>
  <div
    class="mat-elevation-z4 add-word-div"
    (click)="onAddNewWord()"
    *ngIf="stateFacade.isEditingGroupId$(wordGridInput.groupId) | async"
  >
    <button mat-button class="btn btn-new-word">
      Add New Word <mat-icon>add_box</mat-icon>
    </button>
  </div>
  <div class="wordCardDiv">
    <mat-card>
      <app-word-form></app-word-form>
    </mat-card>
  </div>
</div>
