.container {
  margin-top: 20vh;
  --n-rows: 1;
  --n-cols: 6;
  --l: calc(60vw/var(--n-cols));
  --hl: calc(.5*var(--l));
  --ri: calc(.5*1.73205*var(--l));
  display: grid;
  place-content: center;
  grid-template: repeat(var(--n-rows), var(--l))/repeat(var(--n-cols), var(--ri));
  grid-gap: var(--hl) 0;
  padding: var(--hl) 0;
  background: #26262600;
  filter: var(--btn-exercises-shadow);
}

.warning {
  color: var(--text-primary);
  text-align: center;
  font-family: var(--title-font);
  margin-top: 5rem;
  font-size: 1.4rem;
}

.hex-cell {
  display: grid;
  place-items: center;
  overflow: hidden;
  grid-column-end: span 2;
  margin: calc(-1*var(--hl)) 0;
  transform: scale(0.92);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background-color: var(--bg-exercises-btn);
  transition: .4s;

  i,
  mat-icon {
    color: var(--text-primary);
    height: min-content;
    width: min-content;
    font-size: 11vw;
    transition: .4s;
    filter: drop-shadow(0 0 5px black);

  }

  &:hover i,
  &:hover mat-icon {
    filter: drop-shadow(0 0 15px black);
  }
}


.hex-cell:hover {
  transform: scale(0.8);
  cursor: pointer;
}


@media (orientation: portrait) {
  .container {
    --n-rows: 3;
    --n-cols: 4;
  }

  .hex-cell:nth-of-type(3n) {
    grid-column-start: 2;
  }
}
