<form [formGroup]="parent">
  <div [formArrayName]="name" *ngIf="parent.controls[name]">
    <div
      class="additionalTranslation"
      *ngFor="
        let additionalTranslation of parent.controls[name]['controls'];
        let i = index;
        let first = first
      "
    >
      <div [formGroupName]="i">
        <app-form-field
          label="test label"
          [isInline]="false"
          [control]="additionalTranslation.controls.translation"
        >
          <app-input
            formControlName="translation"
            placeholder="add translation"
          ></app-input>
        </app-form-field>
      </div>
      <app-button class="app-button" (click)="deleteTranslation(i)"
        >Delete</app-button
      >
    </div>
  </div>
</form>
